* {
    box-sizing: border-box;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
  }

  h1, h2 {
    font-family: 'Poppins', sans-serif;
  }

  img {
    max-width: 100%;
  }

  button {
    padding: 10px 30px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-color: white;
    font-size: 0.85rem;
    font-weight: bold;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  }

  .pink-button {
    background-color: hsl(322, 100%, 66%);
    color: white;
    width: 200px;
    height: 50px;
  }

  .flex {
    display: flex;
    align-items: center;
  }

  .flex div {
    flex: 1;
  }

  .container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  .box {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 60px;
    margin-bottom: 30px;
  }

  .box img {
    width: 80%;
  }

  .call-to-action {
    display: inline-block;
    /* margin: 100px auto 70px auto; */
    text-align: center;
    padding: 30px 40px;
    background-color: #fff;
  }

  div .call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header {
    background-image: url("images/bg-hero-desktop.svg");
    background-size: cover;
    background-position: center center;
    background-color: hsl(193, 100%, 96%);
    padding: 40px 25px;
    margin-bottom: 100px;
  }

  header div p {
    margin-bottom: 50px;
  }

  nav {
    justify-content: space-between;
    margin-bottom: 40px;
  }

  main p {
    opacity: 0.7;
  }


  footer {
    background-color: hsl(192, 100%, 9%);
    color: white;
    padding: 100px 70px 40px;
  }

  footer img.logo {
    margin-bottom: 20px;
  }

  footer div ul a {
    list-style: none;
    text-decoration: none;
    color: white;
  }

  footer .circle {
    border: solid 2px white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
  }

  footer ul {
    list-style: none;
    line-height: 40px;
  }

  footer .social-icons {
    display: flex;
  }

  footer p.copyright {
    text-align: right;
  }

  @media screen and (max-width: 768px) {

    div footer p {
      text-align: center;
    }

    nav.flex {
      flex-direction: row;
    }

    header div img.mockup-img {
      margin-top: 50px;
    }

    header div p {
      margin-bottom: 40px;
    }

    body {
      text-align: center;
    }

    .flex {
      flex-direction: column;
    }

    .mobile-flex-reverse {
      flex-direction: column-reverse;
    }
  }